
<form [formGroup]="registrationForm" (ngSubmit)="submitForm()" class="registrationForm">
  <mat-card fxLayout="column" fxLayoutGap="20px">
      <mat-form-field>
        <mat-label>salutation</mat-label>
        <mat-select formControlName="salutation">
          <mat-option *ngFor="let salutation of salutations" [value]="salutation">
            {{salutation}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="username" placeholder="username" required>
        <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>
       <mat-form-field>
        <input matInput placeholder="Phone number" formControlName="number" type="number" required>
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field> 
       <mat-form-field> 
        <input matInput type="email" formControlName="email" placeholder="enter email id" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field> 

       <mat-form-field >
        <input matInput mat-textarea formControlName="address" placeholder="enter the full address" row="10" column="100" required>
        <mat-icon matSuffix>place</mat-icon>
      </mat-form-field> 

    <div fxLayout="row" fxlayoutAlign="center center">
    <button mat-raised-button>SUBMIT</button>
    </div>
  </mat-card>
</form>