<h2>Products</h2>

<mat-card>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxLayout="column" fxLayoutGap="20px">
  <ng-container matColumnDef="Salutation">
    <th mat-header-cell *matHeaderCellDef>Salutation</th>
    <td mat-cell *matCellDef="let element">{{element.salutation}}</td>
  </ng-container>
  <ng-container matColumnDef="Username">
    <th mat-header-cell *matHeaderCellDef> Username </th>
    <td mat-cell *matCellDef="let element"> {{element.username}} </td>
  </ng-container>
  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email Id </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>
  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef> Ph No </th>
    <td mat-cell *matCellDef="let element"> {{element.number}} </td>
  </ng-container>
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Address </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-card>